


body{
    display: flex;
    height: 100vh;
    background-color: black;
}
.bulb{
    position: relative;
    width: 100px;
    height: 100px;
    background-color: rgb(121, 103, 80);
    border-radius: 50%;
    z-index: 2;
    left: 569px;
    top: 240px;
}
.wire{
    position: absolute;
    width: 4px;
    height: 50vh;
    background-color: aqua;
    left: 620px;
    bottom: 50%;
    z-index: 1;

}
.back{
    position: absolute;
    width: 40px;
    height: 65px;
    background-color: rgb(94, 187, 13);
    left: 605px;
    bottom:  56.6%;
    z-index: 1;
    border-radius: 40px;
}
.back0{
    position: absolute;
    width: 40px;
    height: 20px;
    background-color: rgb(38, 30, 66);
    left: 605px;
    top: 199px;
    z-index: 2;
    border-radius: 40px;
    
}
.switch21{
    position: absolute;
    width: 100px;
    height:80px ;
    left: 200px;
    top: 440px;
    background-color: rgb(76, 0, 255);
    border-radius: 40%;
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;

}

.switch12{
    position: absolute;
    width: 100px;
    height:80px ;
    right: 500px;
    top: 440px;
    background-color: rgb(76, 0, 255);
    border-radius: 40%;
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;

}
/* -----------------------1-------------------- */
.bulb1{
    position: relative;
    width: 100px;
    height: 100px;
    background-color: rgb(121, 103, 80);
    border-radius: 50%;
    z-index: 2;
    left: 210px;
    top: 150px;
}
.wire1{
    position: absolute;
    width: 4px;
    height: 30vh;
    background-color: aqua;
    left: 366px;
    z-index: 1;

}
.back1{
    position: absolute;
    width: 40px;
    height: 65px;
    background-color: rgb(86, 13, 187);
    left: 349px;
    top: 99px;
    z-index: 1;
    border-radius: 40px;
}
.back12{
    position: absolute;
    width: 40px;
    height: 20px;
    background-color: rgb(66, 30, 30);
    left: 349px;
    top: 99px;
    z-index: 2;
    border-radius: 40px;
    
}
.switch1{
    position: absolute;
    width: 100px;
    height:80px ;
    right: 700px;
    top: 440px;
    background-color: yellow;
    border-radius: 40%;
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;
}
 .switch2{
    position: absolute;
    width: 100px;
    height:80px ;
    left: 100px;
    top: 440px;
    background-color: rgb(255, 0, 157);
    border-radius: 40%;
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;
} 
/* ---------------------------2----------------------- */
.bulb2{
    position: relative;
    width: 100px;
    height: 100px;
    background-color: rgb(121, 103, 80);
    border-radius: 50%;
    z-index: 2;
    left: 710px;
    top: 150px;
}
.wire2{
    position: absolute;
    width: 4px;
    height: 30vh;
    background-color: aqua;
    left: 966px;
    z-index: 1;

}
.back2{
    position: absolute;
    width: 40px;
    height: 65px;
    background-color: rgb(187, 13, 13);
    left: 950px;
    top: 99px;
    z-index: 1;
    border-radius: 40px;
}
.back21{
    position: absolute;
    width: 40px;
    height: 20px;
    background-color: rgb(66, 30, 30);
    left: 950px;
    top: 99px;
    z-index: 2;
    border-radius: 40px;
    
}
.switch3{
    position: absolute;
    width: 100px;
    height:80px ;
    right: 300px;
    top: 440px;
    background-color: orange;
    border-radius: 40%;
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;
}
 .switch31{
    position: absolute;
    width: 100px;
    height:80px ;
    left: 1000px;
    top: 440px;
    background-color: rgb(255, 0, 157);
    border-radius: 40%;
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;
} 






